<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation defaultLanguage="vb" debug="true" strict="true" targetFramework="4.0"/>
    <customErrors mode="RemoteOnly"/>
    <authentication mode="None"/>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="Microsoft.VisualBasic"/>
      </namespaces>
    </pages>
  </system.web>
</configuration>
